In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

- importing the models

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

- Data cleaning and preprocessing

In [3]:
# Read the data 
data = pd.read_csv('heart.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# number of columns and rows
data.shape

(303, 14)

In [5]:
#check for null values 
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
#check distribution of target variable
data["target"].value_counts()

target
1    165
0    138
Name: count, dtype: int64

- 165 --> defective hearts
- 138 --> healthy hearts

In [7]:
# separate data into response and predictor variable
y = data["target"]
X= data.drop("target", axis=1)

In [8]:
#train_test split
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=3)

#### comparing performance of the models

In [9]:
#lets write a functions that will train all our models and give their accuracy score 
models=[LogisticRegression(max_iter=1000),SVC(kernel="linear"),KNeighborsClassifier(),RandomForestClassifier()]

In [10]:
def compare_models_train_test():

    for model in models:
        #train the model
        model.fit(X_train,y_train)
        #Evaluate the model
        test_data = model.predict(X_test)
        accuracy = accuracy_score(y_test,test_data)
        print(f'accuracy score of {model} is {accuracy}')

In [11]:
compare_models_train_test()

accuracy score of LogisticRegression(max_iter=1000) is 0.7868852459016393
accuracy score of SVC(kernel='linear') is 0.7704918032786885
accuracy score of KNeighborsClassifier() is 0.6557377049180327
accuracy score of RandomForestClassifier() is 0.7704918032786885

## Cross validation

**Logistics regression**

In [12]:
cross_val_score_lr = cross_val_score(LogisticRegression(max_iter=1000),X,y,cv=5)
print(cross_val_score_lr)
mean_cross_val_lr= round((sum(cross_val_score_lr)/len(cross_val_score_lr)*100),2)
print(mean_cross_val_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

**Support Vector Machine**

In [13]:
cross_val_score_svc = cross_val_score(SVC(kernel='linear'),X,y,cv=5)
print(cross_val_score_svc)
mean_cross_val_svc= round((sum(cross_val_score_svc)/len(cross_val_score_svc)*100),2)
print(mean_cross_val_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

**Random Forest classifier**

In [14]:
cross_val_score_rf = cross_val_score(RandomForestClassifier(),X,y,cv=5)
print(cross_val_score_rf)
mean_cross_val_rf= round((sum(cross_val_score_rf)/len(cross_val_score_rf)*100),2)
print(mean_cross_val_rf)

[0.83606557 0.86885246 0.7704918  0.85       0.76666667]
81.84

#### Create a function to automate cross validation

In [15]:
models=[LogisticRegression(max_iter=1000),SVC(kernel="linear"),KNeighborsClassifier(),RandomForestClassifier()]

In [16]:
def compare_models_cross_validation():

    for model in models:
        cross_val = cross_val_score(model,X,y,cv=5)
        mean_cross_val = round((sum(cross_val)/len(cross_val))*100,2)
        print(f"Cross validation scores for {model} are {cross_val}")
        print(f"Average cross validation score for {model} is {mean_cross_val}")
        print("--------------------------------------------------------")

In [17]:
compare_models_cross_validation()

Cross validation scores for LogisticRegression(max_iter=1000) are [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Average cross validation score for LogisticRegression(max_iter=1000) is 82.83
--------------------------------------------------------
Cross validation scores for SVC(kernel='linear') are [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Average cross validation score for SVC(kernel='linear') is 82.83
--------------------------------------------------------
Cross validation scores for KNeighborsClassifier() are [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Average cross validation score for KNeighborsClassifier() is 64.39
--------------------------------------------------------
Cross validation scores for RandomForestClassifier() are [0.85245902 0.90163934 0.81967213 0.81666667 0.75      ]
Average cross validation score for RandomForestClassifier() is 82.81
--------------------------------------------------------